# Removes machine learning dependencies
# Zulip maintains their own fork:
# https://github.com/zulip/zulip/blob/61e1e38a00f4ef9fe4c1a302b93ce059646c62a6/requirements/common.in#L60-L61
# Might hopefully get merged eventually: https://github.com/mailgun/talon/pull/200
-e git+https://github.com/tiltec/talon@80886cd#egg=talon

# Common PyPI dependencies
django[argon2]
django-cors-headers
django-enumfield
django-extensions
django-redis
django-dirtyfields
djangorestframework
djangorestframework-csv
drf-spectacular[sidecar]
drf_orjson_renderer
django-jinja
hiredis
markdown
psycopg[binary]
redis
pytz
django-filter
django-crispy-forms
django-timezone-field
django-anymail
sentry-sdk
furl
fractional-indexing
django-versatileimagefield
html2text
babel
huey
gevent
bleach
bleach-allowlist
pymdown-extensions
daphne
channels
channels_redis
more-itertools
requests
glom
geoip2
starlette
aiofiles
shiv
uvicorn[standard]
gunicorn
python-dotenv
click
httpx
icalendar
influxdb
Unidecode
tzdata # for systems where zoneinfo is missing
urllib3<2 # sentry-sdk does not support urllib3 yet: https://github.com/getsentry/sentry-python/issues/2070
pywebpush
typing_extensions

# dev PyPI dependencies
pip-tools
factory-boy
ipython
requests-mock
tblib
# flake8 # See https://github.com/karrot-dev/karrot-frontend/issues/2476
autopep8
autoflake
pytest-asyncio
pytest-django
pytest-xdist
pytest-cov
freezegun
logging_tree
django-silk
yapf
pre-commit
psutil
sqlparse # for pretty-printing SQL in shell
importlib-metadata # for py3.9 compat
honcho
django-watchfiles
