-e git+https://github.com/tiltec/django-influxdb-metrics@163730a#egg=django-influxdb-metrics
-e git+https://github.com/tiltec/django-rest-swagger@7a9ef64#egg=django-rest-swagger
-e git+https://github.com/tiltec/talon@master#egg=talon
-e git+https://github.com/tiltec/django-anymail@master#egg=django-anymail
django[argon2]
django-cors-headers
django-enumfield==2.0
django-extensions
django-redis
django-jinja
django-dirtyfields
djangorestframework
djangorestframework-csv
hiredis
markdown
psycopg2-binary
redis
pytz
django-filter
django-crispy-forms
django-timezone-field
raven
furl
pyfcm
django-versatileimagefield
html2text
babel
huey
gevent
bleach
bleach_whitelist
pymdown-extensions
daphne
channels
channels_redis
more-itertools
requests
glom

# dev dependencies
pip-tools
factory-boy
ipython
requests-mock
tblib
flake8
autopep8
autoflake
pytest-asyncio
pytest-django
pytest-xdist
pytest-cov
freezegun
logging_tree
django-silk
# transifex-client # prevent pulling in urllib<1.24.1
yapf
