{% trans trimmed -%}
    Hey there!
    Before you can join our group we'd like to know a bit about you and your motivation.
    Please tell us how you got to know about us and what you wish to do here!
{% endtrans %}
