import os
from karrot.groups import themes

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'fstool-db',
        'USER': 'fstool-user',
        'PASSWORD': 'fstool-pw',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

SECRET_KEY = 'c*#4=n$s4!*gdgq3nora#a$*xznctg-6=4_edeg9^dsxk&=p=$'
DEBUG = True

# needed for deployment
# STATIC_ROOT = './static/'
# ALLOWED_HOSTS = ['*']

# Uploaded files location, e.g. user photos
MEDIA_ROOT = './uploads/'
MEDIA_URL = '/media/'

# Groups
# set default group theme
## theme: GENERAL, FOODSAVING, BIKEKITCHEN
GROUP_THEME_DEFAULT = themes.GroupTheme.FOODSAVING


######
# Mail configuration
# Uses the console backend for local development
# Set the sparkpost key on deploy
######

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
# EMAIL_BACKEND = 'anymail.backends.postal.EmailBackend'
ANYMAIL = {
    "POSTAL_API_URL": "https://postal.karrot.world",
    "POSTAL_API_KEY": "",
    "WEBHOOK_SECRET": "",
}

DEFAULT_FROM_EMAIL = "your mail domain"  # can be anything if using the console backend
HOSTNAME = 'https://localhost:8000'  # for constructing the frontend URL
SITE_NAME = 'karrot.world' # used as human readable site name, for example in e-mail templates


######
# InfluxDB config for statistics reporting
# Disabled by default
######

INFLUXDB_DISABLED = True
INFLUXDB_HOST = '127.0.0.1'
INFLUXDB_PORT = '8086'
INFLUXDB_USER = ''
INFLUXDB_PASSWORD = ''
INFLUXDB_DATABASE = 'fstool'
INFLUXDB_TAGS_HOST = 'yuca'
INFLUXDB_TIMEOUT = 2
INFLUXDB_USE_CELERY = False
INFLUXDB_USE_THREADING = True

######
# Firebase Cloud Messaging config
# For sending push messages
# Get one from https://console.firebase.google.com
######

FCM_SERVER_KEY = 'your server key'

#HUEY = {
#    'connection': {
#        'host': REDIS_HOST,
#    },
#    'consumer': {
#        'workers': 8,
#        'worker_type' : 'greenlet',
#    },
#}
