{% extends "base-text.jinja2" %}

{% block content %}{% trans %}Request to delete your account on {{ site_name }}.
    Please click the following link to complete the deletion process:{% endtrans %}

{{ url }}
{% endblock %}
