
<style>
  .django-auth-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px lightgrey solid;
  }
</style>

<div class="swagger-ui">
  <div class="wrapper">
    <div class="django-auth-bar">
      <div>
        {% if request.user.is_authenticated %}
          You are logged in as: <strong>{{ request.user }}</strong>
        {% else %}
          Viewing as an anonymous user
        {% endif %}
      </div>
      <div>
        {% if request.user.is_authenticated %}
          <a class="btn" style="text-decoration: none" href="{% url 'rest_framework:logout' %}?next={{ request.path }}">Logout</a>
        {% else %}
          <a class="btn" style="text-decoration: none" href="{% url 'rest_framework:login' %}?next={{ request.path }}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
